@font-face {
    font-family: 'Supercell-Magic';
    src: url('Supercell-Magic.woff2') format('woff2'),
        url('Supercell-Magic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

